* {margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    
    background: transparent;
  
    font-family: inherit;
    text-decoration: none; 
  }

ol, ul, li {
    display: block;
    list-style: none;
  }
  
table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
a img {
    border: none;
  }
  
button, a {
    color: inherit;
    cursor: pointer;
  }
  
textarea {
    resize: none;
  }
  
button, input, textarea, select {
    appearance: none !important;
    -webkit-appearance: none !important; 
    border-radius: 0;
  }

body {
    position: relative;
    font-family: 'Amatic SC', cursive;
    background-color: #fae1dd;
    background-image: radial-gradient(ellipse at top, #fae1dd, transparent), radial-gradient(ellipse at bottom, #e0aaff, transparent);
  }

section{
    min-height: 100vh;
  }


section#happy {
    position: relative;
    margin: 80px auto;

    font-weight: 400;
    font-size: 3rem;
    text-align: center;
}

/* @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  } */


@keyframes fadeOutBack {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

h1.title {
    animation: fadeOutBack 2s ease;
    animation-iteration-count: infinite;
  }

/* .curveBox {
    margin: auto;
} */

@keyframes sizeChange {
    0% {font-size: 1.5rem;}
    25% {font-size: 1.7rem;}
    50% {font-size: 1.5rem;}
    75% {font-size: 1.3rem;}
    100% {font-size: 1.5rem;}
}

div h2 {
    min-height: 3rem;
}
h2 {
    color: rgb(97, 97, 97);
    font-size: 1.5rem;
    animation: sizeChange 3s ease-in-out;
    animation-iteration-count: infinite;
}

path {
    fill: transparent;
}

text textPath {
    font-size: 2rem;
}

#higher {
    position: sticky;
    padding: 1.5rem;
    margin: 1.5rem;


    border: thistle 1px dashed;
    border-radius: 30px;
    box-shadow: 0 0 15px rgb(196, 165, 184);

    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: .15rem;
    text-decoration: underline wavy 0.15rem rgb(97, 97, 97);
    transition: all .3s;
}

#higher:hover {
 transform: rotate(360deg);
}

div#happyImg {
    position: absolute;
    left: 50%;
    top: 20%;
    
    width: 50wh;
    height: 50vh;

    background-color: #dcbce4;
    box-shadow: 0 0 15px #AD6C80;
    border-radius: 10px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
     }

img {
    max-height: 50vh;
    max-width: 50vh;
    padding: 30px;

    animation-name: shake;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

